/*  google Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&family=Poppins&family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

body {
    background-color: #ccc;
    height: 100vh;

}

.quiz-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 1fr 1fr;
    /* padding: 40px; */
}


.question {
    grid-row: 1/2;
    background-color: purple;
    color: #ccc;
    padding: 30px;
    text-align: center;
    align-self: center;
    font-size: 1.2rem;

}

.options {
    grid-row: 2/4;
    align-self: center;
    justify-self: center;
    width: 100%;
    height: 100%;
}

#ul {
    list-style-type: none;

}

.quiz-wrapper .options ul li {

    background-color: #777;
    margin: 10px;
    padding: 10px;
    /* width: 200px; */
    color: #fff;
    /* border-radius: 5px; */
    /* box-shadow: 5px 5px 8px #000; */
    text-align: center;
    font-size: 0.8rem;
    cursor: pointer;
}

.quiz-wrapper .options ul li:hover {
    background-color: #555;
}

.quiz-wrapper .options ul li.correct {
    background-color: green;
}

.quiz-wrapper .options ul li.wrong {
    background-color: red;
}


.next {

    grid-row: 4/5;
    align-self: center;
    justify-self: center;
    border: 0;
    outline: 0;
}

.next button {
    width: 150px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    border: 0;
    outline: 0;
    background-color: purple;
    color: #fff;
    /* box-shadow: 3px 3px 8px #000; */

}

.next button:hover {
    background-color: rgb(117, 14, 117);
}

.next button:active {
    box-shadow: inset 0.5px 0.5px 1px #000;
}

.score {
    margin-top: 50px;
    grid-column: 1/2;
    grid-row: 5/5;
    justify-self: center;
    align-self: flex-start;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.level {
    text-align: center;
}

#tryAgain {
    display: none;
    width: 200px;
    margin: auto;
    padding: 3px;
    border-radius: 8px;
    margin-top: 20px;
    border: none;
    outline: none;
    background-color: purple;
    color: #ccc;
    cursor: pointer;
    box-shadow: 3px 3px 8px #000;

}

#tryAgain:active {
    box-shadow: inset 0.5px 0.5px 1px #000;
}

img[alt*="Flag"] {
    margin-top: 50px;
    width: 100%;
    display: none;
    grid-row: 8/9;
    justify-self: center;
}